// .gallery-container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   max-width: 1400px;
//   margin: 15px auto;
// }

.search-form {
  text-align: center;
  margin-top: 20px;
}

.search-form button {
  width: 80px;
  height: 34px;
  cursor: pointer;
  background-color: #175ed1;
  color: #f2f5b8;
  border: 1px solid #021463;
  border-radius: 20px;
  transition: background-color 0.15s ease-in;
}

// .search-form button:hover {
//   background-color: #0f3f8c;
// }

.search-form input {
  width: 225px;
  padding: 6px 34px 6px 10px;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  border: 1px solid #175ed1;
  border-radius: 20px;
  outline: none;
}

.search-form input:focus {
  border-color: #021463;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 120px) / 4);
}

.gallery__item {
  flex-basis: calc((100% - 120px) / 4);
  max-width: 320px;
  margin-left: 30px;
  margin-top: 30px;
  list-style: none;
  border: 0.2px solid #cbd4f5;
  border-end-start-radius: 25px;
  border-end-end-radius: 25px;
  box-shadow: 1px 2px 22px 0px #cbd4f5;
}

.photo-card img {
  width: 318px;
  height: 212px;
  object-fit: cover;
}

.photo-card {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 120px) / 4);
}

.info {
  max-width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px;
}

.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 120px;
  height: 34px;
  cursor: pointer;
  background-color: #175ed1;
  color: #f2f5b8;
  border: 1px solid #021463;
  border-radius: 20px;

  transition: background-color 0.15s ease-in;
}

.info-item {
  display: flex;
}

.info-description {
  font-size: 10px;
  font-style: normal;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-number {
  font-size: 15px;
}
